{%extends 'base.html'%}

{% block titulo %}
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>ABM TAREAS</h1>
    </div>    
  </div>
</div><!-- /.container-fluid -->
{% endblock %}

{% block contenido %}    
<section class="container">
  <div class="card" >
    <div class="card-header">
      <h3 class="card-title">Listado de Tareas</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 10px">ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Proceso</th>
            <th>Activa ?</th>
            <th>Priodidad</th> 
            <th>Acciones</th>           
          </tr>
        </thead>
        <tbody>
          {% for i in obj %}
          <tr>
            <td>{{i.id}}</td>

            <td>{{i.nombre}}</td>
            {% if i.descripcion  %}
              <td>{{i.descripcion}}</td>
            {% else %} 
              <td>Sin descripición.</td>
            {% endif %}
            <td>{{i.id_proceso }}</td>
            <td><span class="badge bg-orange">{{i.activa|yesno:"SI,NO" }}</span></td>
            <td>{{i.prioridad}}</td>
            <td>
 
                <a href="{% url 'app_crudl:editartareas' i.id %}" class="btn btn-success"><i class="far fa-edit"></i> Editar</a>
                <a href="{% url 'app_crudl:eliminartareas' i.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Eliminar</a>

<!--                <a href="#" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-danger">Eliminar</a>-->                
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>

</section>
<!-- /.content -->
{% endblock %}    