{%extends 'base.html'%}

{% block titulo %}
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>ABM PROCESOS</h1>
    </div>    
  </div>
 
</div><!-- /.container-fluid -->
{% endblock %}

{% block contenido %}    
<section class="container">
  <div class="card" >
    <div class="card-header">
      <h3 class="card-title">Listado de Procesos</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 10px">ID</th>
            <th>Período</th>
            <th>Descripción</th>
            <th>Acciones</th>            
          </tr>
        </thead>
        <tbody>
          {% for i in obj %}
          <tr>
            <td>{{i.id}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.descripcion}}</td>
            <td>
 
                <a href="{% url 'app_crudl:editarprocesos' i.id %}" class="btn btn-success"><i class="far fa-edit"></i> Editar</a>
                <a href="{% url 'app_crudl:eliminarprocesos' i.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Eliminar</a>

<!--                <a href="#" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-danger">Eliminar</a>-->                
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>

</section>
<!-- /.content -->
{% endblock %}    