{%extends 'base.html'%}
{bools = ('NO','SI')}
{% block titulo %}
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>AGENDA</h1>
    </div>   
  </div>
</div><!-- /.container-fluid -->
{% endblock %}

{% block contenido %}    
<section class="content">

  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Agenda</h3>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 10px">ID</th>
            <th>Periodo</th>
            <th>Tarea</th>    
            <th>Actualizada</th>                        
            <th>Finalizada</th>                     
            <th>Acciones</th>            
          </tr>
        </thead>
        <tbody>
          {% for i in obj_agenda %}
          <tr>
            <td>{{i.id}}</td>           
            <td>{{i.id_periodo }}</td>
            <td>{{i.id_tarea}}</td>                        
            <td>{{i.actualizada}}</td>                                             
            <td><span class="badge bg-orange">{{i.finalizada|yesno:"SI,NO" }}</span></td>           
            <td>
              <a href="{% url 'app_crudl:editaragenda' i.id %}" class="btn btn-success"> <i class="far fa-edit"></i> Editar</a>            
              <a href="{% url 'app_crudl:eliminaragenda' i.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Eliminar</a>

            </td>            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
<!-- /.content -->
{% endblock %}    