{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Seguimiento de Tareas - Sueldos Informatica</title>

  <link rel="shortcut icon" href="/static/img/python_18894.ico">
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css">
  
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>  

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">

  
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <div class="info">
              <a class="d-block">Usuario:  {{user.username}}</a>
              <div class="pull-right">
                <td>
                  <a href="{% url 'login:logout' %}"><button type="button" class="btn btn-block btn-primary">Cerrar Sesion</button></a>
                </td>              
              </div>
            </div>
          </div>          
        </div>
  

        <!-- Sidebar Menu -->
        {% block menu %}        
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->               
            <li class="nav-item">
                <li><a href="{% url 'app_crudl:tareasxproceso'%}"><i class="fa fa-home nav-header text-info"></i>INICIO</a></li></a>
            <li class="nav-header"></li>
            <li class="nav-header">MENU PRINCIPAL</li>            
            <li class="nav-item">
              <a href="#" class="nav-link active">
                <i class="nav-icon fas  fa-database"></i>
                <p>
                  Procesos
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item">
                  <a href="{% url 'app_crudl:abmprocesos'%}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Listado de Procesos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'app_crudl:agregarprocesos'%}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Agregar Procesos</p>
                  </a>
              </ul>
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="nav-icon fas  fa-users"></i>
                  <p>
                    Tareas
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview" style="display: none;">
                  <li class="nav-item">
                    <a href="{% url 'app_crudl:abmtareas'%}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Listado de Tareas</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'app_crudl:agregartareas'%}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Agregar Tareas</p>
                    </a>
                </li></ul>
                
              </li>              
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="nav-icon fas  fa-suitcase"></i>
                  <p>
                    Periodos
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview" style="display: none;">
                  <li class="nav-item">
                    <a href="{% url 'app_crudl:abmperiodos'%}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Listado de Periodos</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'app_crudl:agregarperiodos'%}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Agregar Periodos</p>
                    </a>
                </li></ul>                
              </li>               
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="nav-icon fas  fa-tasks"></i>
                  <p>
                    Agenda
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview" style="display: none;">
                  <li class="nav-item">
                    <a href="{% url 'app_crudl:agendaview'%}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Agenda</p>
                    </a>
                  </li>
                </ul>   
                               
                <BR></BR>             
                <li class="nav-header">ACCIONES</li>
                <li class="nav-item">
                  <a href="{% url 'app_crudl:tareaporperiodos'%}" class="nav-link">
                    <i class="nav-icon far fa-circle text-danger"></i>
                    <p class="text">Tareas por Periodo</p>
                  </a>
                </li> 
                              
              </li>               
            </li>
          </ul>
        </nav>
        {% endblock %}        
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">       
        <div class="container-fluid">
          {% block titulo %}           
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Blank Page</h1>
            </div>
          </div>
          {% endblock %} 
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      {% block contenido %}      
      <section class="content">
  
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Title</h3>
  
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            Start creating your amazing application!
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            Footer
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
  
      </section>
      {% endblock %}
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <footer class="main-footer">
      <strong>Copyright &copy; 2021 Ministerio de Economia, Finanzas e Infraestructura</a>.</strong>
    </footer>
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  
  <!-- jQuery -->
  <script src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="https://adminlte.io/themes/v3/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="https://adminlte.io/themes/v3/dist/js/demo.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

  </body>
  
</html>
