{%extends 'base.html'%}

{% block titulo %}
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>EDITAR PROCESOS</h1>
    </div>
</div><!-- /.container-fluid -->
{% endblock %}

{% block contenido %}    
<section class="col-md-6">
  <div class="card" >
    <div class="card-header">
      <h3 class="card-title">Editar Procesos</h3>
    </div>
    <!-- /.card-header -->
    <form method="POST" > {% csrf_token%}
      {{form.as_p}}          
      <div class="box-footer">
        <button type="submit" class="btn btn-block btn-success btn-sm">Editar</button>
      </div>       
     </form>
    <!-- /.card-body -->
  </div>

</section>
<!-- /.content -->
{% endblock %}    