{%extends 'base.html'%}

{% block titulo %}
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>ELIMINAR PROCESOS</h1>
    </div>
</div><!-- /.container-fluid -->
{% endblock %}

{% block contenido %}    
<section class="col-md-6">
  <div class="card" >
    <div class="card-header">
      <h3 class="card-title">Eliminar Procesos</h3>
    </div>
    <!-- /.card-header -->
    <form method="POST" > {% csrf_token%}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 10px">ID</th>
            <th>Nombre</th>         
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{obj.id}}</td>
            <td>{{obj.nombre}}</td>
          </tr>          
        </tbody>       
      </table>     
      <div class="box-footer">
        <button type="submit" class="btn btn-block btn-danger btn-sm">Eliminar</button>
      </div>       
     </form>
    <!-- /.card-body -->
  </div>

</section>
<!-- /.content -->
{% endblock %}    