{%extends 'base.html'%}

{% block titulo %}
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>INICIO</h1>
    </div>   
  </div>
</div><!-- /.container-fluid -->
{% endblock %}

{% block contenido %}
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed bg-blue" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="tr" aria-controls="panelsStayOpen-collapseTwo">
        1 - COBOL PRELIQUIDACION
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">         
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">ID</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Proceso</th>
              <th>Activa</th>           
            </tr>
          </thead>
          <tbody>           
            {% for i in obj %}            
            <tr>
              {% if i.id == 3 %}  
                <td>{{i.id}}</td>
                <td>{{i.nombre}}</td>
                {% if i.descripcion  %}
                  <td>{{i.descripcion}}</td>
                {% else %} 
                  <td>Sin descripición.</td>
                {% endif %}
                <td>{{i.id_proceso}}</td>
                <td><span class="badge bg-orange">{{i.activa|yesno:"SI,NO" }}</span></td>  
              {% endif %}
            </tr>
            {% endfor %}           
          </tbody>
        </table>              
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed bg-blue" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        2 - COBOL LIQUIDACION
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-heading4">
      <button class="accordion-button collapsed bg-blue" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false" aria-controls="panelsStayOpen-collapse4">
        3 - COBOL POSTLIQUIDACION
      </button>
    </h2>
    <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading4">
      <div class="accordion-body">
      </div>
    </div>
  </div>  
</div>
{% endblock%}