<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Acceso Seguimiento de Tareas</title>

  <link rel="shortcut icon" href="/static/img/python_18894.ico">

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css">
  
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <!-- Sweet Alert -->
  <link href="https://unpkg.com/sweetalert.css'%}" rel="stylesheet">
  <script src="https://unpkg.comsweetalert.min.js'%}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>  
 

</head>
<header><img src="../static/img/logo_santacruz_blanco.png" alt="" height="100"></header>
<body class="hold-transition login-page">
  <body>

<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-body">
      <div class="card-header text-center">
        <a class="h1">Inicie Sesion</a>

      <form method="post">
        {% csrf_token %}        
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Usuario" name="username" id="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="fas fa-sign-in-alt"></i>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="password" id="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="https://adminlte.io/themes/v3/dist/js/adminlte.min.js"></script>

<script>
  function mensaje1(msg){
          swal("ATENCION!!!", "Usuario y/o Contraseña Incorrectos", "error");                      
       }        
       
</script>
<script>
            
  {%if form.errors %}

  {% for field in form %}
      {% if field.errors %}

      {% for error in field.errors %}
      mensaje1('{{error|escape}}','red');
          //{{error|escape}}
      {% endfor %}

      {% endif %}
  {% endfor %}

  {%if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      mensaje1('{{error|escape}}','red');                        
  //{{error|escape}} 
      {% endfor %}
  {% endif %}


  {% endif %}



  </script>
</body>
</html>
